.App > main {
  margin-top: 80px;
}

/* Hacks my stupid food creation form for selects inline */
.form-group label {
    float: left;
    text-align: left;
    font-weight: normal;
}

.form-group select {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}
